@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
    }

    nav {
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 16px; /* use paddings divisible by 8 to make it look more organized and clean */
        background-color: #cafdff;
    }

    header {
        background-color: #eadcff;
        height: calc(100vh - 70px); /* makes the header take up the rest of the screen height after the nav bar */
        padding: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h1 {
        font-size: 72px;
    }

    .subheader {
        font-size: 72px;
        margin: 16px 0px 24px 0px; /* adds space all around the subheader, px going clockwise, top right bottom left */
    }

    button {
        background-color: #05c7cf;
        color: white;
        border: none;
        padding: 8px 16px;
        font-size: 24px;
        cursor: pointer;
    }

    a {
        color: black;
        font-size: 24px;
        font-weight: 700;
    }

    .logo {
        width: 300px;
    }  /* makes the logo smaller and fits it to the nav bar */ 

    ul {
        display: flex;
       
    }

    li {
        list-style-type:none;
        padding-left: 16px;
    }

    .row {
        width: 100%;
        max-width: 1300px;
        margin: 0 auto; /* centers the content horizontally */
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    #About, #Discord, #Contact, footer {
        padding: 48px 0; /*padding 48 top and bottom, 0 to left and right */
        
    }

    /*

        * About Section

        */

    

    #About {
        background-color: #f8ffdc;
    }

    h2 {
        font-size: 60px;
        text-align: center;
        margin-bottom: 24px;
    }
    
    .section__description {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about__img--wrapper {
        width: 40%;
        padding: 0 24px;
    }

    img {
        width: 100%;
    }

    .section__description--wrapper {
        width: 60%;
        padding: 0 24px;
    }

    .section__description--para {
        font-size: 20px;
        line-height: 1.5;
        margin-bottom: 24px;
    }

    /*

        * Discord  Section
            
        */

    #Discord {
        background-color: #cefeff;
    }

        /* Contact section
            
        */

        #contact {
            background-color: #dce9ff;
        }

        form {
            width: 100%;
            max-width: 600px;
            display: flex;
            flex-direction: column; /* places the input and button on top of each other */
            margin: 0 auto; /* centers the form horizontally */
        }

        input, textarea {
            padding: 6 px 12px;
            margin-bottom: 24px;
            font-size: 20px;
        }

         /* Footer section
            
        */
    footer {
        background-color: #aaf5ff;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__logo {
       max-width: 480px;
       margin-bottom: 16px;
    }

    .footer__links {
        margin-bottom: 32px;
    }

    .footer__link {
        padding: 0 16px;
    }